<!DOCTYPE html>
<html lang="en">
{{!-- header --}}
{{>about_meta}}

<body>
  <!-- navbar  -->
  {{>navbar}}

  <!-- home page body  -->
  {{>aboutpage_body}}
  <!-- footer  -->
  {{>footer}}
</body>


</html>