<!DOCTYPE html>
<html lang="en">

{{!-- metadata --}}
{{>home_meta}}


<body>
  <!-- navbar  -->
  {{>navbar}}

  <!-- home page body  -->
  {{>homepage_body}}

  <!-- footer  -->
  {{>footer}}
</body>


</html>